<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.richardallenonline.wonders"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WondersApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tool:replace="android:label"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".ui.activity.PlayerCountActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainScoreCardActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activity.PlayerCountActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.PlayerCountActivity" />
        </activity>
        <activity
            android:name=".ui.activity.PlayerScoreCardActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.activity.MainScoreCardActivity">

            <!-- Parent activity meta-data to support API level 7+ -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainScoreCardActivity" />
        </activity>
        <activity
            android:name=".ui.activity.SortableListViewActivity"
            android:label="@string/title_activity_sortable_list_view" />
    </application>

</manifest>
